dill==0.3.2
h5py==2.10.0
Markdown==3.3.4
matplotlib==3.3.4
numpy==1.19.2
pandas==1.1.5
Pillow==8.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
protobuf==3.17.2
psutil==5.8.0
pyparsing==3.0.4
python-dateutil==2.8.2
PyYAML==5.4.1
scikit-learn==0.24.2
scipy==1.5.2
setuptools==58.0.4
swing==0.0.4
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
dill==0.3.2
h5py==2.10.0
Markdown==3.3.4
pandas==1.1.5
Pillow==8.3.1

